<ol>
    {% for post in collections.post %}
        <li class="portfoliocard">
            <a href="{{ post.url }}">{{ post.data.title }}: {{ post.data.subtitle }}</a>
        </li>
    {% endfor %}
</ol>
