---
layout: "layouts/base.njk"
title: "About"
---

<div class="mt20 wf-section">
    <div class="container w-container">
        <div class="section-block-1">
            <div class="ctablockinner">
                <div class="w-row">
                    <div class="mr20 w-col w-col-8">
                        <div class="smallcaps _14">About Us</div>
                        <h1 class="heading">A boutique video production company.</h1>
                        <div class="w-richtext">
                            <p>Secretariat is a full-service video production agency based in Washington, DC, designed to take your creative vision and make it a reality.</p>
                            <p>With a proven track record of working with clients to achieve their objectives, as well as over 10 years’ experience in filmmaking: no matter the project, we have the artistic know-how and the creative vision to make it happen.</p>
                            <p>We are based in Washington, DC, but we work with clients all over the US.</p>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="image-wrapper">
                            <div class="image-outline"></div>
                            <img src="/static/img/secretariat-1.jpg" loading="lazy" srcset="/static/img/secretariat-1-p-500.jpeg 500w, /static/img/secretariat-1-p-800.jpeg 800w, /static/img/secretariat-1-p-1080.jpeg 1080w, /static/img/secretariat-1.jpg 1500w" sizes="(max-width: 479px) 70vw, (max-width: 767px) 66vw, (max-width: 991px) 21vw, 24vw" alt="" class="image-outline-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section wf-section">
    <div class="container w-container">
        <div class="brands">
            <img src="/static/img/blackmagic-design-vector-logo.svg" loading="lazy" alt="" class="brand__image">
            <img src="/static/img/download-1.png" loading="lazy" alt="" class="brand__image">
            <img src="/static/img/EOS_1D_Logo.svg" loading="lazy" alt="" class="brand__image">
            <img src="/static/img/Canon_R5logo.png" loading="lazy" alt="" class="brand__image">
            <img src="/static/img/Redlogo-1400x800.png" loading="lazy" srcset="/static/img/Redlogo-1400x800-p-500.png 500w, /static/img/Redlogo-1400x800-p-800.png 800w, /static/img/Redlogo-1400x800.png 1400w" sizes="(max-width: 479px) 36vw, 17vw" alt="" class="brand__image">
            <img src="/static/img/download.png" loading="lazy" alt="" class="brand__image">
            <img src="/static/img/dji-logo-vector.svg" loading="lazy" alt="" class="brand__image">
            <img src="/static/img/Atomos_logo.svg" loading="lazy" alt="" class="brand__image">
        </div>
    </div>
</div>

<div class="wf-section">
    <div class="container w-container">
        <div class="clear-outline-section">
            <div class="w-row">
                <div class="w-col w-col-8">
                    <div class="mt20">Meet Lead Cinematographer and Co-Founder of Secretariat Media</div>
                    <h1 class="heading">James Trent</h1>
                    <div class="w-richtext">
                        <p>James is a filmmaker and video producer. He has worked on a wide array of projects ranging from corporate work, weddings, commercial photography and music videos, to documentaries, and more.</p>
                        <p>With over 10 years experience in cinematic video production, James has a passion for capturing moments and creating an artistic, meaningful final product.</p>
                        <p>James has worked with top colleges and universities as well as many large organizations across the US&nbsp;and internationally, and has been published in several photography publications and websites.</p>
                        <p>James and his wife Anya reside in Burke, Virginia.</p>
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div class="image-wrapper">
                        <div class="image-outline"></div>
                        <img src="/static/img/5cbe1d04f580724c2e0ba2c3_jtrent.jpeg" loading="lazy" srcset="/static/img/5cbe1d04f580724c2e0ba2c3_jtrent-p-500.jpeg 500w, /static/img/5cbe1d04f580724c2e0ba2c3_jtrent-p-800.jpeg 800w, /static/img/5cbe1d04f580724c2e0ba2c3_jtrent-p-1080.jpeg 1080w, /static/img/5cbe1d04f580724c2e0ba2c3_jtrent.jpeg 1333w" sizes="(max-width: 479px) 74vw, (max-width: 767px) 82vw, (max-width: 991px) 22vw, 23vw" alt="" class="image-bw">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>