<div class="section wf-section">
    <div class="container w-container">
        <div class="section-block-1">
            <div class="ctablockinner">
                <div class="w-layout-grid ctablock__grid">
                    <div class="ctablock__left">
                        <div class="smallcaps _14">Ready to get started?</div>
                        <h1 class="heading">Get in touch</h1>
                        <div class="section-block-text w-richtext">
                            <p>We take on a limited number of clients each year to ensure we provide the time, attention, and creative resources needed to make your project a masterpiece.</p>
                            <p>If you're interested in working with us, please fill out our contact form and let's set up a time to talk.</p>
                        </div><a href="/contact" class="btn w-button">Contact Us</a>
                    </div>
                    <div id="w-node-_720e23f9-10bb-b212-2964-4286f37c49f7-26e01e98" class="ctablock__right">
                        <img src="/static/img/flourish3.svg" loading="lazy" alt="" class="ctablock__flourish">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>