<div class="c-siteheader">
    <div class="header wf-section">
        <div class="header-div">
            <div class="logo-wrap">
                <img src="/static/img/flourish-white.svg" loading="lazy" alt="" class="flourish">
                <div class="logo-text">Secretariat</div>
                <img src="/static/img/flourish-white.svg" loading="lazy" alt="" class="flourish flourish__right">
            </div>
            <div class="media-wrap">
                <div class="header-logo-media-subtitle">Media</div>
            </div>
        </div>
    </div>
    {% if navigation %}
    <div class="nav">
        <div class="nav-inner" data-pgc="nav-inner">
            <a href="{{ navigation.home }}" class="nav-link w-inline-block w--current"> <div>Home</div> </a>
            <img src="/static/img/menu-dot-white.svg" loading="lazy" alt="" class="menu-dot"><a href="{{ navigation.about }}" aria-current="page" class="nav-link w-inline-block"> <div>About</div> </a>
            <img src="/static/img/menu-dot-white.svg" loading="lazy" alt="" class="menu-dot mobile-hide"><a href="{{ navigation.portfolio }}" class="nav-link w-inline-block"> <div>Portfolio</div> </a>
            <img src="/static/img/menu-dot-white.svg" loading="lazy" alt="" class="menu-dot mobile-hide"><a href="{{ navigation.blog }}" class="nav-link w-inline-block"> <div>Blog</div> </a>
            <img src="/static/img/menu-dot-white.svg" loading="lazy" alt="" class="menu-dot"><a href="{{ navigation.contact }}" class="nav-link w-inline-block"> <div>Contact</div> </a>
            <img src="/static/img/menu-dot-white.svg" loading="lazy" alt="" class="menu-dot"><a href="{{ navigation.contact }}" class="nav-link w-inline-block nav-link__cta"> <div>Book Us</div> </a>
        </div>
    </div>
    {% endif %}
</div>
