<div class="socket">
    <div class="w-container">
        <div class="footer-nav">
            <div class="footer-column"><a href="/" aria-current="page" class="footer-link w--current">Home</a><a href="/about" class="footer-link">About</a><a href="/portfolio" class="footer-link">Portfolio</a><a href="/blog" class="footer-link">Blog</a><a href="/contact" class="footer-link">Contact</a>
            </div>
            <div class="footer-column"><a href="/" class="footer-link">Top Video Production Company</a><a href="#" class="footer-link">Interview Video Production</a><a href="#" class="footer-link">Conference Video Production</a><a href="portfolio.html" class="footer-link">Washington DC&nbsp;Video Production Company</a><a href="portfolio-work/explainer-videos.html" class="footer-link">Explainer Video Production</a>
            </div>
            <div class="footer-column"><a href="/portfolio" class="footer-link">Videographers in Washington&nbsp;DC</a><a href="portfolio-work/events.html" class="footer-link">Live-Streaming Video Production</a><a href="portfolio-work/promo.html" class="footer-link">Promotion and Explainer Videos</a><a href="portfolio-work/events.html" class="footer-link">Washington DC Event Video Production</a><a href="portfolio-work/promo.html" class="footer-link">Commercial and Ad Video Production</a>
            </div>
        </div>
        <img src="/static/img/flourish2-white.svg" loading="lazy" alt="" class="socket-flourish">
        <div class="socket-text">© 2022 Secretariat Media LLC.</div>
    </div>
</div>